



<ul class="dropdown-content checkboxes" style="list-style-type: none;">
    <% @all_batters.each do |a| %>
        <% unless a.name.nil?%>
            <li><label><input type="checkbox" /><%=a.name%><%=a.batting_order%></label></li>
        <% end %>
    <% end %>
</ul>


<table>
  <tbody class="sortable">  <!-- sortable target -->
    <% sortable_fetch(@all_batters) do |batter, id_tag| %>
      <% unless batter.name.nil? %>  <!-- RailsSortable helper -->
          <tr id="<%= id_tag %>">  <!-- you must write it -->
            <td><%= batter.name %></td>
            <td><%= batter.batting_order %></td>
          </tr>
      <%end%>
    <% end %>
  </tbody>
</table>




<div class="result" name="lineup"></div>

<form action="/home/check" method="post">
  <textarea class="result" name="lineup" style="display: none;"></textarea>
  <input type="submit" value="선택 완료">
</form>




<script>
var order = [];

$("[type=checkbox]").on('change', function() { // always use change event
    var idx = order.indexOf(this);
	
    if (idx !== -1) {         // if already in array
    	order.splice(idx, 1); // make sure we remove it
    }

    if (this.checked) {    // if checked
    	order.push(this);  // add to end of array
    }
    
    // <------------------------------------For demonstration
    $('.result').html(JSON.stringify($.map(order, function(elem) {
    	return $(elem).closest('label').text().trim();
    })));
});

$(function() {
  $('.sortable').railsSortable();
});
</script>
